<!DOCTYPE html>
<html>
  <head>
    <title>salam</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="https://api.instagram.com/oauth/authorize?client_id=3970871202997986&redirect_uri=https://impt-matketto.herokuapp.com/auth&scope=user_profile,user_media&response_type=code" id="instaLogin">Instagram Login</a>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="javascripts/index.js"></script>
  </body>
</html>

<!-- AQBK44ytY074IbZhOKAE1BO971tBswyVHSOEOIfZYePws0_rxpOA6mNXB7YrwAqpv5XR3w4p_JsegUmVfok4eM3qXjj_YzjtZesi2Hnj35gkeKaVP_7wHO32UNqsWXA9U3KoGR-hrDbOuhGPk6LuJt-5ojjM0RjpVUghK4DX_ida3HUiNaAbO6r8S4tQLBcgFzw8KM_cY8s28dzRJj0_kfIjEhJntkLe8EEUDC5u08Rp2w -->
<!-- {
  "access_token": "IGQVJYbUxPQkVTeW5XWVBkaE51dFhkaGhWdzgwX1dqOTMtdVNidUpxR0dpZAjdVSE5vam5UU1lyOERfNG1UWHZAhU3F1WWNFRm9WOTR1aFZAnWFV4XzExcDJkTElJY0IzaGxVa3FuSlpfam4tWDFzM0xvNW4wQkhiSFlBeGFz",
  "user_id": 17841400822887052
} -->